.dropdown-container {
  width: 50%;
  position: relative;
  user-select: none;
}

.dropdown-container > header {
  width: 250px;
  height: 100%;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FF7314;
  border: 1px solid rgb(212, 212, 212);
  color: white;
  border-radius: 10px;
}

.dropdown-items-container {
  position: absolute;
  top: 45px;
  padding: 5px;
  font-size: 12px;
  width: 92%;
  max-height: 20vh;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 2px;
  animation: dropdownmove 1s;
}

.dropdown-items-container > section:hover {
  background-color: rgb(235, 235, 235);
}

.dropdown-container:focus {
  outline: none;
}

@keyframes dropdownmove {
  from {max-height: 0px;}
  to {max-height: 20vh;}
}

@media only screen and (max-height: 710px) {
  @keyframes dropdownmove {
    from {max-height: 0px;}
    to {max-height: 15vh;}
  }

  .dropdown-items-container {
    max-height: 15vh;
  }
}

@media only screen and (max-height: 600px) {
  @keyframes dropdownmove {
    from {max-height: 0px;}
    to {max-height: 10vh;}
  }

  .dropdown-items-container {
    max-height: 10vh;
  }
}