html, body, section, article,
h1, h2, p, strong, em, a, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}

:focus {
  outline: none;
}