body {
	margin: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.landing-page {
  position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

/* might need to delete this later */
/* ::-webkit-scrollbar {
  display: block;
} */

.left-side {
	position: relative;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 0.5fr; 
  background-color: #ff7315;
}

.motto-catchphrase{
  font-size: 24px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
	align-items: center;
  font-size: 29px;
  color: #f4f4f4;
  padding: 10px;
  text-align: center;
}

.logo-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
	width: 480px;
	height: 240px;
  background-color: #f4f4f4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.right-side {
	width: 100%;
	height: 100%;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 480px 1fr;
  grid-template-rows: 1fr 480px 1fr; 
  overflow: hidden;
}

.session-container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(255, 115, 21, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
}

.session-container-null{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(255, 115, 21, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
  height: 50%;
  margin-left: 120px;
  -webkit-backface-visibility: hidden;
}

.session-container-transition{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(255, 115, 21, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  animation: box-out 1s ease;
  -webkit-backface-visibility: hidden;
}

.session-container-transition-reverse{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(255, 115, 21, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  animation: box-out 1s ease reverse;
  width: 50%;
  height: 50%;
  -webkit-backface-visibility: hidden;
}

@keyframes box-out{
  from{
    margin-left: 120px;
    width: 50%;
    height: 50%;
  }
  to{
    margin-left: 0px;
    height: 100%;
    width: 100%;
  }
}

.session-container span{
  padding: 20px;
}

.signup-session-button{
  background-color: #3a3535;
  color: #f4f4f4;
}

.login-session-button{
  background-color: #3a3535;
  color: #f4f4f4;
}

.demo-login-button{
  background-color: #3a3535;
  color: #f4f4f4;
}

.signup-session-button, .login-session-button, .demo-login-button{
  font-family: 'Encode Sans Expanded', sans-serif;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  transition: background-color 3s ease;
  margin: 10px;
}

.signup-session-button:hover, .login-session-button:hover, .demo-login-button:hover{
  cursor: pointer;
}

.signup-session-button:focus, .login-session-button:focus, .demo-login-button:focus{
  outline: none;
}

.exit-up{
  animation: exit-up 1s ease;
}
.enter-up{
  animation: exit-up 1s ease reverse;
}

@keyframes exit-up{
  from{
    font-size: 36px;
    transform: rotate(-45deg);
    grid-column:2/3;
    grid-row: 2/3;
    pointer-events: none;
    opacity: 1;
  }
  to{
    font-size: 36px;
    transform: rotate(90deg);
    grid-column:2/3;
    grid-row: 2/3;
    pointer-events: none;
    opacity: 0;
  }
}

.exit-down{
  animation: exit-down 1s ease;
}
.enter-down{
  animation: exit-down 1s ease reverse;
}

@keyframes exit-down{
  from{
    font-size: 36px;
    transform: rotate(135deg);
    grid-column:2/3;
    grid-row: 2/3;
    pointer-events: none;
    opacity: 1;
  }
  to{
    font-size: 36px;
    transform: rotate(270deg);
    grid-column:2/3;
    grid-row: 2/3;
    pointer-events: none;
    opacity: 0;
  }
}

.phase-out{
  animation: phase-out 1.5s ease;
}

.phase-in-transition{
  animation: phase-in 1.5s ease-out;
}

@keyframes phase-out {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


.transition-page{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ff7315;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 0.5fr; 
  animation: sweep-left 1s ease-in forwards 3s;
}

@keyframes sweep-left{
  0%{
    width: 100%;
  }
  90%{
    opacity: 1;
    width: 50%;
  }
  100%{
    width: 50%;
    opacity: 0;
    display: none;
  }
}
