body {
	margin: 0;
  /* font-family: 'Gochi Hand', cursive; */
  /* font-family: 'Jockey One', sans-serif; */
  font-family: 'Encode Sans Expanded', sans-serif;
  /* font-family: 'Sue Ellen Francisco', cursive; */
  /* font-family: 'Lexend Peta', sans-serif; */
}
/* #d50000; dark red*/
/* #E1E2E1;  white*/
.landing-page {
  position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	width: 100vw;
}

.left-side {
	position: relative;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 0.5fr; 
  background-color: #ff7315;
}

.motto-catchphrase{
  font-size: 24px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
	align-items: center;
  font-size: 24px;
  color: #f4f4f4;
  padding: 10px;
}

.logo-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
	/* display: grid; */
	width: 480px;
	height: 240px;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	/* grid-template-rows: 1fr 1fr 1fr; */
  background-color: #f4f4f4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.first-f{
  grid-column: 2/3;
  font-size: 120px;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.25);
  font-family: 'Pacifico', cursive;
}
.second-f{
  grid-column: 3/4;
  transform: rotate(180deg);
	font-size: 120px;
  text-shadow: -5px -5px rgba(0, 0, 0, 0.25);
  font-family: 'Pacifico', cursive;
}

.friend {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
  color: #f4f4f4;
  background-color: #3a3535;
}

.facts {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
  grid-column-end: 3;
  color: #f4f4f4;
	background-color: #3a3535;
}

.friend, .facts {
  display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
  width: 100%;
	font-weight: bold;
  margin-left: 5px;
  border-radius: 5px;
}

.right-side {
	width: 100%;
	height: 100%;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 480px 1fr;
  grid-template-rows: 1fr 480px 1fr; 
  overflow: hidden;
}


.friend-facts-1{
  font-size: 36px;
  transform: rotate(-45deg);
  grid-column:2/3;
  grid-row: 2/3;
  pointer-events: none;
}

.friend-facts-2{
  font-size: 36px;
  transform: rotate(135deg);
  grid-column:2/3;
  grid-row: 2/3;
  pointer-events: none;
}

.session-container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #ff7315;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
}


.session-container-null{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #ff7315;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
  height: 50%;
  margin-left: 120px;
}

.session-container-transition{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #ff7315;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  animation: box-out 1s ease;
}

.session-container-transition-reverse{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #ff7315;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  animation: box-out 1s ease reverse;
}

@keyframes box-out{
  from{
    margin-left: 120px;
    width: 50%;
    height: 50%;
  }
  to{
    margin-left: 0px;
    height: 100%;
    width: 100%;
  }
}

.session-container span{
  padding: 20px;
}

.signup-session-button{
  background-color: #3a3535;
  color: #f4f4f4;
}

.login-session-button{
  background-color: #3a3535;
  color: #f4f4f4;
}

.demo-login-button{
  background-color: #3a3535;
  color: #f4f4f4;
}

.signup-session-button, .login-session-button, .demo-login-button{
  font-family: 'Encode Sans Expanded', sans-serif;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  transition: background-color 3s ease;
  margin: 10px;
}

.signup-session-button:hover, .login-session-button:hover, .demo-login-button:hover{
  cursor: pointer;
}

.signup-session-button:focus, .login-session-button:focus, .demo-login-button:focus{
  outline: none;
}

.f-1, .r, .i, .e, .n, .d, .f-2, .a, .c, .t, .s{
  animation: friend-facts 2s alternate infinite;
}

.f-1{
  animation-delay: -0.2s;
}
.r{
  animation-delay: -0.4s;
}
.i{
  animation-delay: -0.6s;
}
.e{
  animation-delay: -0.8s;
}
.n{
  animation-delay: -1s;
}
.d{
  animation-delay: -1.2s;
}
.f-2{
  animation-delay: -1.4s;
}
.a{
  animation-delay: -1.6s;
}
.c{
  animation-delay: -1.8s;
}
.t{
  animation-delay: -2s;
}
.s{
  animation-delay: -2.2s;
}


@keyframes friend-facts{
  from{
    /* font-size: 24px; */
    opacity: 0;
  }
  to{
    /* font-size: 26px; */
    opacity: 1;
  }
}

.exit-up{
  animation: exit-up 1s ease;
}
.enter-up{
  animation: exit-up 1s ease reverse;
}

@keyframes exit-up{
  from{
    font-size: 36px;
    transform: rotate(-45deg);
    grid-column:2/3;
    grid-row: 2/3;
    pointer-events: none;
    opacity: 1;
  }
  to{
    font-size: 36px;
    transform: rotate(90deg);
    grid-column:2/3;
    grid-row: 2/3;
    pointer-events: none;
    opacity: 0;
  }
}

.exit-down{
  animation: exit-down 1s ease;
}
.enter-down{
  animation: exit-down 1s ease reverse;
}

@keyframes exit-down{
  from{
    font-size: 36px;
    transform: rotate(135deg);
    grid-column:2/3;
    grid-row: 2/3;
    pointer-events: none;
    opacity: 1;
  }
  to{
    font-size: 36px;
    transform: rotate(270deg);
    grid-column:2/3;
    grid-row: 2/3;
    pointer-events: none;
    opacity: 0;
  }
}

.phase-out{
  animation: phase-out 1s ease;
}

.phase-in-transition{
  animation: phase-in 1s ease-out;
}

@keyframes phase-out {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


.transition-page{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ff7315;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 0.5fr; 
  animation: sweep-left 1s ease-in forwards 3s;
}

@keyframes sweep-left{
  0%{
    width: 100%;
  }
  90%{
    opacity: 1;
    width: 50%;
  }
  100%{
    width: 50%;
    opacity: 0;
    display: none;
  }
}
