.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    border-radius: 10px;
    width: 50%;
    text-align: center;
    background-color:  #f4f4f4;
    height: 20px;
    text-rendering: auto;
    font: 400 11px system-ui;
    padding: 1px;
    border-width: 2px;
}

.submit-button {
    background-color: #3a3535;
    color: #f4f4f4;
    border-radius: 10px;
    height: 42px;
    width: 281px;
    font-size: 16px;
}

@keyframes open-up{
    from{
        width: 10%;
        height: 10%;
    }
    to{
        width: 50%;
        height: 50%;
    }
}

@keyframes phase-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.submit-button:focus{
    outline: none;
}
.submit-button:hover{
    cursor: pointer;
}

.create-edit-form {
    width: 100%;
    min-width: 550px;
    height: 300px;
    margin: 0 auto;
    padding: 10px 0;
    overflow-y: scroll;
    margin-bottom: 53px;
}


.create-friend-container {
    animation: phase-in 2s ease;
    min-height: auto;
}

.input, .textarea{
    animation: phase-in 2s ease;
}

.input:focus, .textarea:focus{
    outline: none;
}

.dropdown-submit-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 550px;
    position: absolute;
    bottom: 10px;
    /* border-top: 2px solid black; */
    padding-top: 10px;
}


.textarea {
    height: 100px;
    text-align: start;
    background-color:  #f4f4f4;
    border-color: initial;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.line {
    height: 2px;
    width: 652px;
    background-color: black;
    position: absolute;
    bottom: 61px;
    left: 0px;
    z-index: 200;
}

.dropdown-submit-container-wrapper {
    display: flex;
    flex-direction: column;
}

