

.friends-below-navbar-container {
    display: flex;
    width: 100%;
    height: auto;
}

.friends-sidebar-container {
    height: auto;
    width: 300px;
    background-color: rgba(0, 0, 0, .05);
}

.friends-sidebar-header {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 26px;
    font-weight: 600;
}

.friend-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.friend-card-container {
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

.friend-card-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* CREATE FRIEND PROFILE LINK CARD */

.friend-create-link-card {
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    /* box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75) */
}

.friend-create-link-card:hover {
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75)
}

.friend-create-link-card-text {
    font-size: 40px;
}

.friend-create-link-card-plus-sign {
    font-size: 80px;
    margin-top: -20px;
}



/* FRIEND SHOW PAGE */

.friend-show-container {
    width: 100%;
    height: auto;
    margin: 40px;
}

.friend-show-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
}

#friend-show-name-text {
    font-size: 35px;
}

.friend-show-container ul li {
    margin-bottom: 20px;
    font-size: 20px;
}

