

.friends-below-navbar-container {
    display: flex;
    width: 100%;
    height: auto;
}

.friends-sidebar-container {
    height: auto;
    min-height: 800px;
    width: 300px;
    border-right: 1px solid black;
    background-color: #3A3535;
}

.friends-sidebar-header {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 26px;
    font-weight: 600;
    color: white;
}

.friend-cards-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.friend-card-container {
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}


/* FRIEND INDEX ITEMS */

.friend-card-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.friend-index-item-name {

}


/* CREATE FRIEND PROFILE LINK CARD */

.friend-create-link-card {
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    /* box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75) */
}

.friend-create-link-card:hover {
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.75)
}

.friend-create-link-card-text {
    font-size: 40px;
}

.friend-create-link-card-plus-sign {
    font-size: 80px;
    margin-top: -20px;
}



/* FRIEND SHOW PAGE */

.friend-show-container {
    width: 100%;
    height: auto;
    margin: 40px;
}

.friend-show-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
}

#friend-show-name-text {
    font-size: 35px;
    /* margin-bottom: 20px; */
}

#friend-show-hobbies-text {
    text-align: center;
}

.friend-show-container ul li {
    margin-bottom: 25px;
    font-size: 20px;
}

.friend-show-divider-line {
    height: 1px;
    border: none;
    background-color: lightgray;
    margin: 20px 0 30px 0;
}

.friend-show-age-tag, .friend-show-location-tag, .friend-show-siblings-tag, .friend-show-birthday-tag, .friend-show-hobbies-tag, .friend-show-tag {
    background-color: #FF7314;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    transition: all 3s;
    animation: float-effect 3s;
    transform: translateY(0px);
}

.friend-show-age-tag {
    padding: 1px 6px 7px 7px;
}

@keyframes float-effect {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.friend-show-tag:hover {
    transform: translateY(-5px);
    transition: all 2s;
    cursor: pointer;
}

.friend-show-li {
    display: flex;
}

.friend-show-text {
    margin-top: 3px;
}

.friend-show-location-tag {
    padding: 3px 6px 6px 8px;
}

.friend-show-siblings-tag {
    padding: 3px 6px 6px 8px;
}

.friend-show-birthday-tag {
    padding: 3px 6px 6px 8px;
}

.friend-show-hobbies-tag {
    padding: 3px 6px 6px 8px;
}

.friend-show-siblings-text {
    /* font-weight: 600; */
}