.navbar-container {
    height: 60px;
    width: 100%;
    background-color: #FF7314;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.navbar-logo-link {
    display: flex;
    align-items: center;
}

.navbar-logo-container {
    display: flex;
    font-size: 25px;
    padding: 7px 7px 7px 10px;
    background-color: #f4f4f4;
    margin-left: 24px;
    border-radius: 5px;
}

.navbar-logo-kin {
    color: #FF7314;
}

.navbar-logo-ship {
}

.navbar-logout-btn {
    margin-right: 25px;
    cursor: pointer;
    color: #f4f4f4;
    border-radius: 5px;
    padding: 5px;
    background-color: #3a3535;
    position: relative;
}

.navbar-logout-btn > span { 
    background-color: white;
    color: black;
    padding: 0 10px;
    height: 30px;
    display: none;
    position: absolute;
    right: 65px;
    top: 30px;
    transition: all 0.3s ease;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: translateY(0%);
}

.navbar-logout-btn:hover > span { 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    transform: translateY(-100%);
}

.navbar-logout-btn:hover {
    background-color: grey;
}

/* @keyframes user-email {
  from {width: 0px}
  to {width: 160px;}
} */