.navbar-container {
    height: 60px;
    width: 100%;
    background-color: #FF7314;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo-link {
    display: flex;
    align-items: center;
}

.navbar-logo-container {
    display: flex;
    font-size: 25px;
    padding: 7px 7px 7px 10px;
    background-color: white;
    margin-left: 24px;
}

.navbar-logo-kin {
    color: #FF7314;
}

.navbar-logo-ship {
}

.navbar-logout-btn {
    margin-right: 25px;
    cursor: pointer;
}