

.make-a-friend-background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 115, 21, 0.8);
    /* TODO change placement and add transition animations */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: smooth-in 1s ease;
}

@keyframes smooth-in{
    from{
        background-color: rgba(255, 115, 21, 0);
    }
    to{
        background-color: rgba(255, 115, 21, 0.8);
    }
}

.make-a-friend-container{
    width: 652px;
    height: 350px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: open-up 1s ease;
    position: relative;
    padding: 10px, 0px;
    padding-top: 80px;
}

@keyframes open-up{
    from{
        width: 10%;
        height: 10%;
    }
    to{
        width: 652px;
        height: 350px;
    }
}

/* .close-make-friend-button{
    width: 200px;
    height: 100px;
    background-color: #3a3535;
    color: #f4f4f4;
    font-size: 24px;
    border-radius: 10px;
    animation: phase-in 2s ease;
} */

/* .close-make-friend-button:focus{
    outline: none;
}
.close-make-friend-button:hover{
    cursor: pointer;
} */

@keyframes phase-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.close-make-friend-button{
   border: none;
   background-color: transparent;
   position: absolute;
   top: 4px;
    right: -4px;
    z-index: 20;
}

.close-make-friend-button:focus{
    outline: none;
}
.close-make-friend-button:hover{
    cursor: pointer;
}

.close-image {
    width: 30px;
    height: 30px;
    font-size: 24px;
}

.close-image:hover {
    filter: invert(46%) sepia(77%) saturate(731%) hue-rotate(346deg) brightness(101%) contrast(104%);
}

.header {
    border-bottom: 2px solid black;
    margin: -90px -51px 10px -51px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

}



